:root {
    --font-color: #020202;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: var(--font-color);
    /* google-font */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

h1{
    margin: 8px;
}

#dark-mode{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}

#new-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 15vh;
}

#new-list input {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    color: var(--font-color);
    padding: 10px 20px;
}

#new-list input:focus {
    outline: none;
}

#new-list button{
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    color: var(--font-color);
    margin: 0 10px;
    transition: all 300ms ease;
}

#new-list button:hover {
    background: #dddddd;
}

#todo-list{
    margin: 10px;
}
#todo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#todo-list {
    list-style: none;
    padding: 0;
    width: 400px;
    color: var(--font-color);
    font-size: 20px;
}

#todo-list li {
    background: #cecece;
    padding: 12px 18px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-left input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.todo-actions {
    display: flex;
}

.todo-actions button {
    margin-left: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #9b9b9b;
    color: var(--font-color);
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 300ms ease;
}    

.todo-actions button:hover {
    background: #9b9b9b;
    color: #f2f2f2;
}

.dark-bg {
    background-color: #171717;
}

.dark-bg h1 {
    color: #f2f2f2;
}

.dark-form input {
    color: #f2f2f2 !important;
}

.dark-form button {
    color: #f2f2f2 !important;
}

.dark-form button:hover {
    color: #020202 !important;
}

.dark-todo li {
    background: #242424 !important;
    color: #f2f2f2;
}

.dark-todo li .todo-actions button {
    color: #f2f2f2;
    transition: all 300ms ease;
}

.dark-todo li .todo-actions button:hover {
    color: #020202 !important;
    background: #f2f2f2 !important;
    border: 1px solid #f2f2f2 !important;
}

@media (min-width: 320px) {
    #new-list input, #new-list button {
        font-size: 12px;
    }
    .todo-left{
        font-size: 14px;
    }
}

@media (min-width: 375px) {
    #new-list input, #new-list button {
        font-size: 14px;
    }
    .todo-left{
        font-size: 18px;
    }
}

@media (min-width: 425px) {
    #new-list input, #new-list button {
        font-size: 16px;
    }
    .todo-left{
        font-size: 18px;
    }
}
